<div>
  Example-3<br>

  <p class="fontsize">
    <b>rxResource with pagination.</b>
    The rxResourcePaging signal wraps a resource signal. It exposes properties and methods for paging:
    count, minpage, maxpage, hasFirst, hasPrevious, hasNext, hasLast, first(), previous(), next(), last(), goToPage(page: number).<br>
    <a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/component/page3/page3.component.html">page3.html</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/component/page3/page3.component.ts">page3.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/rx-resource-paging.ts">rx-resource-paging.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/navigator-manager.ts" target="_blank">navigator-manager.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/paging-options.ts" target="_blank">paging-options.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/paging-request.ts" target="_blank">paging-request.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/paging-ref.ts" target="_blank">paging-ref.ts</a>
  </p>

  <p>
    <button (click)="onNavButtonClick('first')" [disabled]="!paging.hasFirst()">
      First
    </button>&nbsp;
    <button (click)="onNavButtonClick('previous')" [disabled]="!paging.hasPrevious()">
      Previous
    </button>&nbsp;
    ({{ data.request().page }} - {{ paging.maxpage() + 1 }}/{{ paging.count() }})&nbsp;
    <button (click)="onNavButtonClick('next')" [disabled]="!paging.hasNext()">
      Next
    </button>&nbsp;
    <button (click)="onNavButtonClick('last')" [disabled]="!paging.hasLast()">
      Last
    </button>&nbsp;
  </p>

  <p>
    @if (resource.hasValue()) {
    <div>
      @for (data of resource.value()?.items; track data.id) {
      <div>
        {{ data.id }}&nbsp;
        {{ data.name }}&nbsp;
        {{ data.customer }}&nbsp;
      </div>
      }
    </div>
    } @else if (resource.status() === status.Error) {
    <span>The request failed. Reason: {{ resource.error() }}</span>
    }
  </p>

  <p>
    isLoading: {{ resource.isLoading() }}<br>
    status: {{ resource.status() }}<br>
    error: {{ resource.error() }}<br>
  </p>
</div>
