<div>
  <b>Home</b>

  <h1>
    <a href="https://www.linkedin.com/in/stefano-marchisio-sviluppatore-web-angular-javascript-aspnet-fullstack/" target="_blank">
      My LinkedIn profile
    </a>
  </h1>

  <p class="fontsize">
    The rxResourcePaging signal wraps a resource signal. It exposes properties and methods for paging:
    count, minpage, maxpage, hasFirst, hasPrevious, hasNext, hasLast, first(), previous(), next(), last(), goToPage(page: number).<br>
    <a href="">rx-resource-paging.ts</a>
    &nbsp;-&nbsp;<a href="">navigator-manager.ts</a>
    &nbsp;-&nbsp;<a href="">paging-options.ts</a>
    &nbsp;-&nbsp;<a href="">paging-request.ts</a>
    &nbsp;-&nbsp;<a href="">paging-ref.ts</a>
    <br><br>
    The PagingOptions&lt;T&gt; and PagingRequest objects contain the configuration passed to the function rxResourcePaging&lt;T&gt;(options: PagingOptions&lt;T&gt;): PagingResourceRef&lt;T&gt;. At the beginning of the rxResourcePaging function the PagingRequest object is cloned. Similarly the PagingRequest object is cloned if the reloadRequest method is called: (pagreq: PagingRequest). This happens if you want to do a new search specifying different filters and sorting.
  </p>
</div>
