<div>
  Example-2<br>

  <p class="fontsize">
    <b>rxResource without pagination.</b>
    The rxResourcePaging signal wraps a resource signal. It exposes properties and methods for paging:
    count, minpage, maxpage, hasFirst, hasPrevious, hasNext, hasLast, first(), previous(), next(), last(), goToPage(page: number).<br>
    <a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/component/page2/page2.component.html" target="_blank">page2.html</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/component/page2/page2.component.ts" target="_blank">page2.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/rx-resource-paging.ts" target="_blank">rx-resource-paging.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/navigator-manager.ts" target="_blank">navigator-manager.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/paging-options.ts" target="_blank">paging-options.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/paging-request.ts" target="_blank">paging-request.ts</a>
    &nbsp;-&nbsp;<a href="https://github.com/mastefano64/rxResourcePaging/blob/main/src/app/paging/paging-ref.ts" target="_blank">paging-ref.ts</a>
  </p>

  <p>
    <button (click)="onButtonClick(1)">
      Page-1 (not operative)
    </button>&nbsp;
    <button (click)="onButtonClick(2)">
      Page-2 (not operative)
    </button>&nbsp;
    <button (click)="onButtonClick(3)">
      Page-3 (not operative)
    </button>&nbsp;
  </p>

  <p>
    @if (resource.hasValue()) {
    <div>
      @for (data of resource.value()?.items; track data.id) {
      <div>
        {{ data.id }}&nbsp;
        {{ data.name }}&nbsp;
      </div>
      }
    </div>
    } @else if (resource.status() === status.Error) {
    <span>The request failed. Reason: {{ resource.error() }}</span>
    }
  </p>

  <p>
    isLoading: {{ resource.isLoading() }}<br>
    status: {{ resource.status() }}<br>
    error: {{ resource.error() }}<br>
  </p>
</div>
